
body {
  height: 105vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-image: url(https://i.imgur.com/2oB3aic.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#markers {
  display: grid;
  grid-template-columns: repeat(7, 6vmin);
  gap: .1vmin; 
  margin-top: 1vmin;
  
}
#markers > div {
  height: 10vmin;
   border-width: 1vmin;
  border-style: solid;
  border-color: rgb(196, 213, 157);
  transform: scale(.4); 
 
}

#markers > div:hover {
   transform: scale(0.7);
  transition: transform 150ms ease-in;
  border-top-color: rgb(6, 181, 239); 
}
#board {
  display: grid;
  grid-template-columns: repeat(7, 6vh);
  grid-template-rows: repeat(6,8vh);
    margin: 0 auto;  
   margin-top: -2vmin;
  gap: .2vmin;
  justify-content: center;
  background-image: url(https://media0.giphy.com/media/OcclrtzYyuWhgHG6zE/giphy.gif?cid=ecf05e47iblqlngqy0s1ov6kxnsqju34n0aa1415kbm8qfhb&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: center;
  border: .1vmin solid rgb(4, 213, 245);
  width: 80vmin;
}

#board > div {
  border-radius: 50%;
  margin-top: 4px;
  border: 3.5px solid rgb(10, 211, 204);
  border-radius: 50%;
  background: white;
  cursor: pointer;
  
}
button {
  background-color: rgb(15, 226, 241);
  margin-top: 5vmin;
  font-size: 4vmin;
  -webkit-text-stroke: .2vmin rgb(255, 255, 255) ;
  text-align: center;

}
h2 {
  color: rgb(168, 101, 184);
  font-size: 37px;
  text-align: center;
  -webkit-text-stroke: .15vmin rgb(8, 199, 233);
}
h2:hover {
  color: yellow;
}

button:hover {
  color: red;
}

#js_timer {
  text-align: center;
  padding-left: 20px;
}
#timer {
  background: #fff;
  color: #000;
  width: 100px;
  margin: 10px; 
}
  