
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
#markers {
  display: grid;
  grid-template-columns: repeat(7, 13vmin);
  /* gap: 2vmin; */
  /* margin-top: 2vmin;
  background-color: rgb(14, 11, 11); */
  
}
#markers > div {
  height: 20vmin;
  /* border-width: 2vmin; */
  border-style: solid;
  border-color: rgb(241, 237, 237) transparent transparent;
  transform: scale(.5); 
  background-color: rgb(130, 24, 24);
}
#markers > div:hover {
   transform: scale(0.9);
  transition: transform 150ms ease-in;
  border-top-color: rgb(236, 230, 230); 
}
#board {
  display: grid;
  grid-template-columns: repeat(7, 13vh);
  grid-template-rows: repeat(6,13vh);
   margin: 0 auto; 
  margin-top: -2vmin;
  gap: .2vmin;
  justify-content: center;
  background-color: rgbgit (83, 83, 123);
  border: .1vmin solid black;
 width: 120vmin;
}

#board > div {
  border-radius: 50%;
  margin-top: 4px;
  border: 3.5px solid rgb(1, 0, 0);
  border-radius: 50%;
  background: white;
  cursor: pointer;
  
}
button {
  background-color: red;
  margin-top: 5vmin;
  font-size: 4vmin;

}









