
body {
  height: 105vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-image: url(https://i.imgur.com/WBHePc5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
#markers {
  display: grid;
  grid-template-columns: repeat(7, 6vmin);
  gap: .1vmin; 
  margin-top: 1vmin;
  /* background-color: rgb(14, 11, 11);
   */
}
#markers > div {
  height: 10vmin;
   border-width: 1vmin;
  border-style: solid;
  border-color: rgb(11, 175, 240);
  transform: scale(.4); 
}

#markers > div:hover {
   transform: scale(0.7);
  transition: transform 150ms ease-in;
  border-top-color: rgb(6, 181, 239); 
}
#board {
  display: grid;
  grid-template-columns: repeat(7, 6vh);
  grid-template-rows: repeat(6,8vh);
   margin: 0 auto; 
  margin-top: -2vmin;
  gap: .2vmin;
  justify-content: center;
  background-image: url(https://media0.giphy.com/media/OcclrtzYyuWhgHG6zE/giphy.gif?cid=ecf05e47iblqlngqy0s1ov6kxnsqju34n0aa1415kbm8qfhb&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: left;
  border: .1vmin solid rgb(4, 213, 245);
  width: 80vmin;
}

#board > div {
  border-radius: 50%;
  margin-top: 4px;
  border: 3.5px solid rgb(1, 0, 0);
  border-radius: 50%;
  background: white;
  cursor: pointer;
  
}
button {
  background-color: red;
  margin-top: 5vmin;
  font-size: 4vmin;

}
h2 {
  color: rgb(168, 101, 184);
  font-size: 32px;
}








